<% if @current_user.workouts.empty? %>
	<h2>You don't have any workouts</h2>
	<a href="<%= url_for(:controller => 'workouts', :action => 'new') %>"><button type="button" class="btn btn-primary">Create one</button></a>
<% else %>
	<% @current_user.workouts.reverse.each_with_index do |workout, index| %>
	<ul>
		<h1><%= workout.name %></h1>
		<h3><%= link_to 'Show', :controller => "workouts", :action => "show", :id => workout %></h3>
		<h3><%= link_to 'Update', :controller => "workouts", :action => "update", :id => workout %></h3>
	</ul>
	<hr>
	<% end %>
	<a href="<%= url_for(:controller => 'workouts', :action => 'new') %>"><button type="button" class="btn btn-primary">Create New Workout</button></a>
<% end %>